<script type="application/javascript">
  <%# TODO: Make this a general class %>
  $(document).ready( function() {
    var $loginForm = $('#new_user');

    $loginForm.find('.form-control').each(function(i, el)
    {
      var $this = $(el), $group = $this.closest('.input-group');

      $this.prev('.input-group-addon').click(function()
      { $this.focus(); });

      $this.on({
        focus: function()
        { $group.addClass('focused'); },

        blur: function()
        { $group.removeClass('focused'); }
      });
    });
  })
</script>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-user"></i>
      </div>

      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-key"></i>
      </div>

      <%= f.email_field :password, autofocus: true, class: 'form-control', placeholder: 'Password' %>
    </div>
  </div>

  <div class="form-group">
    <%= button_tag class: 'btn btn-primary btn-block btn-login' do %>
        <i class="fa fa-sign-in"></i>
        Login
    <% end %>
  </div>

  <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label >
          <%= f.check_box :remember_me, style: 'position: relative; top: 0px' %>
          Keep Me Logged In
        </label>
      </div>
  <% end %>
<% end %>

<div class="form-group">
  <em>- or -</em>
</div>

<div class="form-group">
  <%= link_to omniauth_authorize_path(resource_name, :facebook), class: 'btn btn-default btn-lg btn-block btn-icon icon-left facebook-button' do %>
      Sign in with Facebook
      <i class="fa fa-facebook"></i>
  <% end %>
</div>

<div class="form-group">
  <%= link_to omniauth_authorize_path(resource_name, :'google_oauth2'), class: 'btn btn-default btn-lg btn-block btn-icon icon-left google-button' do %>
      Sign in with Google
      <i class="fa fa-google"></i>
  <% end %>
</div>

<%= render 'devise/shared/links' %>
