<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/meta' %>
    <title>Yogadose // Dashboard</title>
    <%= render partial: 'layouts/includes' %>
  </head>

  <body>
    <div class="main-content">
      <%= render partial: 'layouts/header' %>
      <%= render partial: 'layouts/alerts' %>
      <%= yield %>
    </div>
  </body>
</html>
