<div class="account">
  <div class="col-sm-6">
    <section>
      <h2>Your Next Charge</h2>
      <div class="card">
        <div class="inner">
          <span class="date">02/04/2017</span><span class="pull-right price">$13.99</span>
        </div>
      </div>
    </section>

    <section>
      <h2>Your Subscription</h2>
      <span class="header-link">
        <a href="#">View Billing History</a><%# TODO: fix link %>
      </span>

      <% if @presenter.payment_method? %>
          <div class="card">
            <div class="inner">
              <h4><%= t('.your_plan') %></h4>
              <%# TODO: fix %>
              <div>
                Yogadose Monthly <span class="label label-primary label-sm">Active</span>
                <span class="pull-right">$13.99/mo</span>
              </div>
            </div>


            <div class="inner">
              <h4>Payment Method</h4>
              <span class="header-link"><%= link_to 'Update', new_subscription_path %></span>
              <div><%= @presenter.payment_method_summary %></div>
            </div>
          </div>
      <% else %>
          <div class="card">
            <div class="inner">
              <h4><%= t('.your_plan') %></h4>
              <span class="header-link"><%= link_to t('.sign_up'), new_subscription_path %></span>
              <div><i><%= t('.no_subscription') %></i></div>
            </div>
          </div>
      <% end %>

    </section>
  </div>

  <div class="col-sm-6">
    <section>
      <h2>Your Account</h2>

      <div class="card">
        <div class="inner">
          <h4>Personal Information</h4>
          <span class="header-link"><%= link_to 'Update', edit_user_registration_path %></span>

          <div><%= @presenter.name %></div>
          <div><%= @presenter.email %></div>
        </div>

        <div class="inner">
          <h4 style="margin-bottom: 0px">Connect To Facebook</h4>
          <span class="header-link"><%= link_to 'Connect', user_facebook_omniauth_authorize_path, id: 'connect-facebook-account' %></span>
        </div>

        <div class="inner">
          <h4>Password</h4>
          <span class="header-link"><%= link_to 'Change', change_password_path, id: 'change-password' %></span>

          <div>********</div>
        </div>

        <div class="inner">
          <h4>Privacy and Settings</h4>
          <p><a href="#">Manage Email Notifications</a></p>
          <p style="margin-bottom: 0"><a href="#">View Terms of Use</a></p>
        </div>

        <div class="inner">
          <h4>Cancel Your Subscription</h4>
          <span class="header-link"><a href="#">Cancel</a></span>
        </div>
      </div>
    </section>
  </div>
</div>
